#container {
	margin: 10px 10px 10px 10px;
}

#bigheader {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}

#header {
	margin-bottom: 5px;
	font-weight: bold;
	color: #000000;
}

#indent {
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 0px 20px;
}

.code {
	font-family: courier;
	font-weight: 400;
	color: #000000;
}

body {
	background-color: #ffffff;
	font-family: ariel;
	font-size: 10px;
	color: #333333;
}
